.gem-button {
    width: 25px;
    height: 25px;
}

.gem-main {
    width: 50px;
    height: 50px;
}

/* body {
    background-color: red;
} */
/* 
.POOP {
    color: blue;
}

.img-container{
    position:relative;
    display:inline-block;
    width: 30px;
    height: 30px;
  }
  .img-container .overlay{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
  }

  .overlay span{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color: black;
  } */